<div *ngIf="error | async" class="error">
  {{ (error | async) }}
</div>

<mat-spinner *ngIf="loading | async else itemArea"></mat-spinner>

<ng-template #itemArea>
  <mat-card *ngIf="itemData">
    <mat-card-content>
      <p>{{ itemData.title }}</p>
      <img
        [src]="itemData.image | image"
        [alt]="'Photo of ' + itemData.title"/>
      <p>Description</p>
      <p><strong>Price: </strong>{{ itemData.price }} som</p>
      <p><strong>Category: </strong>{{ itemData.category }}</p>
      <p><strong>Seller: </strong></p>
      <ul>
        <li><strong>Name: </strong>{{ itemData.user.displayName }}</li>
        <li><strong>Phone: </strong>{{ itemData.user.phone }}</li>
      </ul>

      <button mat-raised-button color="warn" (click)="onDelete()" *ngIf="showButton()">Delete</button>

    </mat-card-content>
  </mat-card>
</ng-template>
