<mat-card>
  <mat-card-content>
    <p>Title</p>
    <img
      [src]="'http://www.kurzweilai.net/images/Naam-Limits-of-Earth-Part1-001-earth-600x600.jpg'"
      [alt]="'Photo of '"/>
    <p>Description</p>
    <p><strong>Price </strong>som</p>
    <p><strong>Category: </strong></p>
    <p><strong>Seller: </strong></p>
    <ul>
      <li><strong>Name: </strong></li>
      <li><strong>Phone: </strong></li>
    </ul>

    <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>

  </mat-card-content>
</mat-card>
