<mat-toolbar color="primary">
  <div class="container toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <a routerLink="/">Flea market</a>
    <nav *ngIf="!(user | async) else userMenu">
      <a routerLink="/register" mat-button>РЕГИСТРАЦИЯ</a>
      <a routerLink="/login" mat-button>ВОЙТИ</a>
    </nav>
  </div>
</mat-toolbar>
<div class="container">
  <ng-content></ng-content>
</div>

<ng-template #userMenu>
  <nav>
    <span>Привет, <strong>{{ (user | async)?.['displayName'] }}</strong> !</span>&nbsp;
    <a routerLink="/items/new" mat-button class="user-menu-btn">Добавить товар</a>&nbsp;
    <button mat-button (click)="logout()" class="user-menu-btn">Выйти</button>
  </nav>
</ng-template>
