.idea
node_modules
public/uploads/*
!public/uploads/pic1.png
!public/uploads/pic2.jpg
!public/uploads/pic3.jpg
!public/uploads/pic4.jpg
!public/uploads/pic6.jpg
!public/uploads/pic7.jpg
!public/uploads/pic8.png
!public/uploads/pic9.jpg
!public/uploads/pic10.jpg
